<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813370037453-an0ukj3c7lt01r0f8flt7di43le9064i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813370037453-an0ukj3c7lt01r0f8flt7di43le9064i</string>
	<key>API_KEY</key>
	<string>AIzaSyAwQ6_soJAq-aea6h1r5cxseytoDCzycLM</string>
	<key>GCM_SENDER_ID</key>
	<string>813370037453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uuu.FireBase-logIn</string>
	<key>PROJECT_ID</key>
	<string>fir-login-f6267</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-f6267.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813370037453:ios:0e0a7cd7f2828779b28584</string>
	<key>DATABASE_URL</key>
	<string>https://fir-login-f6267.firebaseio.com</string>
</dict>
</plist>